.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #5a84d6; 
    height: 50px;
}

.searchBar {
    display: flex;
    width: 250px; 
    height: 32px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto; 
}

.searchInput {
    width: 100%;
    border: none;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    /* Цвет текста внутри */
    color: #333;
}

.searchButton {
    background-color: #b3f05c; 
    border: none;
    width: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    width: 16px;
    height: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}