* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  max-width: 100%;
}

.header {
  background: rgba(74, 123, 217, 1);
  height: 64px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 160px;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Бургер */
.burger-btn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px;              
  flex-shrink: 0;
}

.burger-btn:hover {
  border-radius: 10%;
  background: rgba(255,255,255,0.15);
}

.burger-btn span {
  width: 18px;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Логотип */
.logo {
  display: flex;
  align-items: center;
  height: 20.06px;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}

/* Поиск */
.search-container {
  flex: 1;
  max-width: 1238px;
  display: flex;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  height: 40px;
}

.search-bar {
  display: flex;
  flex: 1;
  border: none;
  padding: 0 14px;
  font-size: 15px;
  outline: none;
}

.search-btn {
  background: rgba(184, 234, 72, 1);
  border: none;
  width: 48px;      
  min-width: 48px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.search-btn:hover { background: #a5d13f; }

/* Иконки */
.header-icons {
  display: flex;
  gap: 8px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.icon-btn:hover { background: rgba(255,255,255,0.15); }

/* Адаптив */
@media (min-width: 300px) and (max-width: 393px) {
  .header {
    padding: 0 12px;
    gap: 8px;
  }

  .header-icons {
    gap: 0;
  }

  .icon-btn {
    padding: 4px;
  }

  .logo {
    display: none;
  }

  .User {
    display: none;
  }

  .Cart {
    width: 20px;
    height: 20px;
  }

  .search-container {
    margin-left: 0;
    overflow: hidden;
  }

  .search-bar {
    border-radius: 6px;
  }

  .search-btn {
    width: 48px;
    min-width: 48px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
  }

  .search-btn img {
    width: 20px;
    height: 20px ;
    display: block;
  }
}