.pageNumbersContainer {
    display: flex;
    gap: 12px;
    margin: 24px;
}

.pageNumbersContainer button {
    background: none;
    border: none;
    color: #0E2042;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    cursor: pointer;
}

.pageNumbersContainer button:hover {
    background: #E0EBFF;
}

.pageNumbersContainer button:active {
    background: #CCDDFF;
}

.pageNumbersContainer button.current {
    background: #B8EA48;
}

.pageNumbersContainer button:disabled {
    opacity: 0.5;
}

.pageNumbersContainer #nextBTN {
    rotate: 180deg;
}

.CardsContainer,
.CardsContainer.big {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 480px) {

    .CardsContainer,
    .CardsContainer.big {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .CardsContainer,
    .CardsContainer.big {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .CardsContainer,
    .CardsContainer.big {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .CardsContainer {
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }

    .CardsContainer.big {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}


@media (min-width: 1441px) and (max-width: 1919px) {
    .CardsContainer {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .CardsContainer.big {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (min-width: 1920px) {
    .CardsContainer {
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }

    .CardsContainer.big {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}