.ProductListMain {
    padding: 0 160px;
    margin: 40px 0;
}

.CategoryName {
    font-family: Mulish;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    color: #0E2042;
    margin: 13px 0 32px 0;
}

.wrapper {
    display: flex;
    gap: 24px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainContainer hr {
    border-top: 2.5px solid #CCDDFF;
    margin: 0 0 16px 0;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .ProductListMain {
        padding: 0 16px;
        margin: 24px 0 40px;
    }

}

@media (min-width: 1025px) {
    .ProductListMain {
        padding: 0 160px;
        margin: 40px 0;
    }
}